$dark: #192f48;
$boxDark: #2b405a;
$primary: #258aff;
$danger: #fc593b;
$light: #fff;
$gray: #8e8e8e;

* {
  font-family: karla;
}

body {
  margin: 0;
  background: $dark;
  height: 100vh;

  .container {
    min-height: 100%;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;

    .top {
      text-align: center;
      .sub-title {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 2.8125px;
        text-transform: uppercase;
        color: #ffffff;
      }
      .title {
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        letter-spacing: -2.52632px;
        color: #ffffff;
        margin: 0;
      }
    }

    .bottom {
      .boxes {
        display: flex;
        column-gap: 30px;

        @media (max-width: 678px) {
          flex-direction: column;
          row-gap: 30px;
        }
        .box {
          background: $light;
          padding: 22px 50px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          border-radius: 6px;
          color: $dark;

          &-dark {
            background: $boxDark;
            color: $light;
          }

          .info_section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 27px;

            .badge {
              font-size: 12px;
              padding: 6px 14px;
              line-height: 15px;
              letter-spacing: -0.514286px;
              text-transform: uppercase;
              background: #4eab08;
              border-radius: 13px;
              font-weight: bold;
              color: #fff;
            }
          }

          .pricing_section {
            > span {
              display: block;
            }
            .price {
              font-weight: bold;
              font-size: 50px;
              line-height: 40px;
              letter-spacing: -2px;
              sup {
                font-size: 30px;
              }
              .sub {
                font-size: 17px;
              }
            }
            .description {
              font-size: 14px;
              line-height: 23px;
              letter-spacing: -0.4px;
            }
          }

          ul.features_section {
            padding: 0;
            list-style-position: inside;

            li {
              margin: 0;
              font-size: 17px;
              line-height: 32px;
              letter-spacing: -0.425px;

              &.del {
                color: $gray;
              }

              &::before {
                content: '';
                width: 7px;
                display: inline-block;
              }
              &::marker {
                font-family: 'Font Awesome 6 Free';
                font-weight: 600;
                content: '\f00c';
                font-size: 10px;
              }
            }
          }

          .redirect_section {
            .btn {
              display: block;
              font-size: 18px;
              line-height: 21px;
              display: flex;
              align-items: center;
              text-align: center;
              letter-spacing: -1.06px;
              border-radius: 5px;
              color: #ffffff;
              padding: 14px 40px;
              border: none;
              cursor: pointer;

              &-danger {
                background: $danger;
              }
              &-primary {
                background: $primary;
              }
            }

            .description {
              font-weight: normal;
              font-size: 14px;
              line-height: 28px;
              letter-spacing: -0.4px;
            }
          }
        }
      }
    }
  }
}
