// $prefix = xl | lg | md | sm
@mixin _media($prefix) {
  $maxWidth: 1200px;

  @if ($prefix == 'xl') {
    $maxWidth: 1200px;
  } @else if($prefix == 'lg') {
    $maxWidth: 992px;
  } @else if($prefix == 'md') {
    $maxWidth: 768px;
  } @else if($prefix == 'sm') {
    $maxWidth: 576px;
  }

  @media (max-width: $maxWidth) {
    @content;
  }
}
