* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_zone {
  width: 350px;
  height: 380px;
  border-radius: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  /* display: none; */
}
.register_zone {
  width: 350px;
  height: 380px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  display: none;
  background-color: black;
}
.btn-register {
  width: 265px;
  height: 45px;
  border-radius: 30px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
}
.login_title {
  font-family: sans-serif;
  font-size: 38px;
  color: white;
  text-align: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.input {
  width: 250px;
  height: 35px;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  border: none;
}

.btn_login {
  width: 265px;
  height: 45px;
  border-radius: 30px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.btn_register {
  width: 265px;
  height: 45px;
  border-radius: 30px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
}
.btn_register:hover {
  background-color: rgb(2, 2, 197);
  transition: 1s;
}
.input_icon {
  display: flex;
  align-items: center;
}
.icon1 {
  width: 17px;
  height: 17px;
  color: black;
  cursor: pointer;
  margin-left: -25px;
  display: none;
}
.icon2 {
  width: 17px;
  height: 17px;
  color: black;
  cursor: pointer;
  margin-left: -25px;
  display: block;
}

.textc {
  color: white;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
}
.player {
  width: 500px;
  height: 500px;
  background-color: blue;
  display: none;
}
