* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background-color: #efed40;
  margin: 0;
}

.boxes {
  border: 10px solid black;
}
.box {
  width: 200px;
  height: 200px;
}

.box-first {
  background-color: dodgerblue;
}
.box-second {
  background-color: red;
}
.box-third {
  background-color: blue;
}
