body {
  margin: 0;
  background-color: blue;
  display: grid;
  place-items: center;

  h1 {
    font-size: 80px;
    font-family: monospace;
  }
}

.header {
  display: flex;
  align-items: center;
}
