* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
  background-color: #ff0000;
  color: #efed40;
}

.header .boxes, .header .images {
  display: flex;
}

.header, .section {
  padding: 0 8rem;
}

@media (max-width: 960px) {
  .header, .section {
    padding: 0 4rem;
  }
}
.header .boxes {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .images {
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
