.about-us-right, .about-us, .header-brand .info, .header-brand .logo, .header-brand, .card-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

.main-heading {
  font-size: 80px;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  text-transform: normal;
  letter-spacing: 2px;
}

.sub-heading {
  font-size: 40px;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  text-transform: normal;
  letter-spacing: 2px;
}
@media (max-width: 992px) {
  .sub-heading {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .sub-heading {
    font-size: 20px;
  }
}

.main-btn {
  width: 170px;
  height: 45px;
  font-size: 14px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
}
.main-btn:hover {
  background-color: #d3ab55;
  color: #262626;
}

.card {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.card:hover .card-overlay {
  left: 0;
}
.card-overlay {
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
  position: absolute;
  background-color: rgba(211, 171, 85, 0.6);
  left: -100%;
  transition: all 0.5s;
  flex-direction: column;
}
.card-overlay-heading {
  font-size: 50px;
  font-weight: 300;
  font-family: Nunito, sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.card-overlay-paragraph {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #d3ab55;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #d3ab55;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card-overlay-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.card-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpeg) no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 60px;
}
.header-brand .logo {
  color: #d3ab55;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 20px;
  text-decoration: none;
  font-size: 70px;
}
.header-brand .info {
  flex-direction: column;
  color: #bbb;
}
.header-brand .info .main-name {
  font-weight: 300;
  font-size: 50px;
  font-family: Nunito, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header-brand .info .sub-name {
  font-weight: 300;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.about-us {
  height: 90vh;
}
.about-us-left {
  position: relative;
  width: 40%;
  left: -200px;
}
.about-us-left img {
  display: block;
  width: 100%;
  opacity: 0.6;
}
.about-us-right {
  width: 60%;
  flex-direction: column;
  padding: 0 50px;
}
.about-us-right .stars {
  margin: 30px 0;
  color: #d3ab55;
}
.about-us-right .description {
  text-align: justify;
  font-style: italic;
  font-size: 18px;
  color: #bbb;
  font-family: "Josefin Sans", sans-serif;
  text-transform: initial;
  letter-spacing: 2px;
}
.about-us-right .description::first-letter {
  margin-left: 50px;
}

.gallery .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
