<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../main.css" />
    <title>Card</title>
  </head>
  <body>
    <!-- SIMPLE CARD -->
    <!-- <div class="card" style="width: 18rem">
      <img src="../images/img.jpg" class="card-img-top " alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->

    <!-- CARD BODY-->
    <!-- <div class="card" style="width: 18rem">
      <img src="../images/img.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="card-title">Jellyfish</h2>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div> -->

    <!-- CARD BODY TWO -->
    <!-- <div class="card" style="width: 18rem">
      <img src="../images/img.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div> -->

    <!-- HEADER AND FOOTER -->
    <!-- <div class="card">
      <div class="card-header">Featured</div>
      <div class="card-body">
        <h2 class="card-title">Special title treatment</h2>
        <h5 class="card-subtitle text-muted mt-2">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->

    <!-- CARD BLOCKQUOTE -->
    <!-- <div class="card">
      <div class="card-header">Harajatlar</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>A well-known quote, contained in a blockquote element.</p>
          <footer class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div> -->

    <!-- CARD TABS -->
    <!-- <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item ">
            <a class="nav-link " aria-current="true" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="card-body" id="card-body">
        <h5 class="card-title">First title</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->

    <!-- CARD PILLS -->
    <!-- <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link " href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Disabled</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->

    <!-- CARD IMAGE OVERLAY -->
    <!-- <div class="card bg-dark text-white">
      <img src="../images/img1.jpg" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div> -->

    <!-- CARD GROUP -->
    <!-- add styles into main.css ".card{width: 300px}" -->
    <!-- <div class="card-group">
      <div class="card text-center">
        <img src="../images/img.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Macbook Pro M1</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last version</small>
          <button class="d-block btn btn-sm btn-primary">Add to Cart</button>
        </div>
      </div>
      <div class="card">
        <img src="../images/img.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="../images/img.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div> -->
  </body>
</html>
