<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../main.css" />
    <title>Offcanvas</title>
  </head>
  <body>
    <!-- SIMPLE OFFCANVAS -->
    <!-- <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvas"
      aria-controls="offcanvas"
    >
      Button with data-bs-target
    </button>
    <div
      class="offcanvas offcanvas-top"
      id="offcanvas"
      aria-labelledby="offcanvasLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <h1>
          Content for the offcanvas goes here. You can place just about any
          Bootstrap component or custom elements here.
        </h1>
      </div>
    </div> -->

  </body>
  <script src="../bootstrap/js/bootstrap.bundle.js"></script>
</html>
